@font-face {
  font-family: "SFMono";
  font-weight: 500;
  src: url("/assets/fonts/SFMono-Regular.otf");
}

@font-face {
  font-family: "SFMono";
  font-weight: 700;
  src: url("/assets/fonts/SFMono-Bold.otf");
}

body {
  font-size: 12px;
  font-family: sans-serif;
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  color: black;
  display: inline-block;
  padding: 8px 0 0 0;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 19px;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  margin: 8px 0;
}

a {
  color: black;
  text-decoration: none;
}

b, strong {
  font-weight: 600;
}

a:hover {
  color: inherit;
}

h1 a {
  text-decoration: none;
}

ul {
  padding-left: 18px;
  margin-top: 5px;
}

li {
  line-height: 1.7em;
  list-style: square;
}

.row {
  margin: 0;
}

.padding-left-right-10 {
  padding: 0 10px;
}

p.date {
  font-size: 0.9em;
}

p.p404 {
  font-family: Arial, sans-serif;
}

ul.badges {
  padding: 0;
}

ul.badges li {
  display: inline-block;
  list-style-type: none;
}

ul.badges li img {
  height: 62px;
  width: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 300;
  font-size: 0.9em;
}

footer a {
  color: white;
}

@media screen and (max-width: 767px) {
  h2 {
    margin-left: 0;
  }

  .sidebar {
    max-width: 100%;
    padding-bottom: 0;
    text-align: center;
  }
  .content {
    padding-top: 5px;
    padding-bottom: 0;
  }
  footer {
    font-size: 0.7em;
  }
  .post-categories,
  .social-links {
    padding: 0;
  }

  .navigation .expand {
    float: right;
  }
}

.navigation .expand.down:before {
  content:"\f078";
  font-family: "FontAwesome";
}

.navigation .expand.up:before {
  content:"\f077";
  font-family: "FontAwesome";
}

.navigation {

}

.navigation a {
  text-decoration: none !important;
}

.navigation .expand {
  margin-left: 10px;
}

.navigation h1 {
  font-size: 16px;
  margin-bottom: 0;
  background: #242424;
  color: white;
  padding: 10px;
}

.navigation h1 a {
  color: white;
}

.post-categories li {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  padding-right: 5px;
}

.post-categories li a {
  text-decoration: none;
}

.post-categories {
  display: none;
  margin: 0;
  padding: 5px 10px;
  background: #e8e8e8;
}

.post-list code {
  padding-bottom: 0;
}

.post-list .post-date {
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: -4px;
  color: #c7c7c7;
}

.post-list a {
  display: block;
  padding: 0;
  line-height: 14px;
}

.homepage-section {
  margin-top: 13px;
  margin-bottom: 0px;
  display: block;
  line-height: 10px;
}

pre code {
  font-size: 11px;
}

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  max-width: 100%;
}