<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} - {% endif %} Alvin Nguyen {% if page.title == nil %} - Discover, Learn, Share{% endif %}</title>
  <meta name="description" content="Alvin Nguyen website on GitHub. Development related blogging built on Jerkyll.">
  <meta name="author" content="Alvin Nguyen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ baseurl }}/assets/css/dist/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script type="text/javascript" src="{{ baseurl }}/assets/js/underscore.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body {% if page.url == "/" %}class="home"{% endif %}>
  <div class="navigation">
    {% include templates/navigation.html %}
  </div>
  <div class="content">
    {% if page.title %}<div class="row"><div class="col-xs-12 padding-left-right-10"><h2>{{ page.title }}</h2></div></div>{% endif %}
    {% if page.date %}
    <div class="row"><div class="col-xs-12 padding-left-right-10"><p class="date">
      {{ page.date | date_to_string }}
      {% if page.revised-date %}
      / Revised {{ page.revised-date | date_to_string }}
      {% endif %}
    </p></div></div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12 padding-left-right-10">
        {{ content }}
      </div>
    </div>
  </div>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33497665-1', 'auto');
      ga('send', 'pageview');

  </script>
</body>
</html>
